@import "../../../../variables.scss";

.painting-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-auto-rows: 205px;
  justify-content: center;
  gap: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, 340px);
    grid-auto-rows: 249px;
  }

  @media (min-width: $big-tablet-width) {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 230px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, 360px);
    grid-auto-rows: 275px;
  }
}
