@import "../../../variables.scss";

.header-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.filter-wrapper {
  margin-bottom: 45px;
}

.paintings-section-wrapper {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $big-tablet-width) {
    margin-bottom: 40px;
  }
}
