@import "../../../variables.scss";

.page-content {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 25px 20px 34px 20px;

  @media (min-width: $tablet-width) {
    padding: 35px 34px 54px 34px;
  }

  @media (min-width: $big-tablet-width) {
    padding: 35px 42px 62px 42px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 123px 97px 123px;
  }
}
