.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &--dark {
    color: #ffffff;
  }
}
