@import "../../../variables.scss";

.input {
  width: 280px;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus {
    border-color: #000000;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 13px;
    line-height: 15px;
  }

  @media (min-width: $big-tablet-width) {
    width: 220px;
  }

  @media (min-width: $desktop-width) {
    width: 265px;
  }
}
