@import "../../../variables.scss";

$change-theme-button-color--light-theme: #000000;

.change-theme-button {
  border: none;
  width: 22px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.change-theme-button svg {
  color: $change-theme-button-color--light-theme;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}
