@import "../../../variables.scss";

.change-theme-button {
  border: none;
  width: 22px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;

  &__icon {
    width: inherit;
    height: inherit;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}
